@model OrganizationCreateVm
@{
    ViewData["Title"] = "Create organization";
}

<h2>Create organization</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-2">
        <input asp-for="Name" class="form-control" />
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
